# things to ignore

*.egg
*.egg-info/
*.py[cod]
*.so
*~
.cache
.coverage
.eggs/
.tox
__pycache__/
build/
dist/
foo
htmlcov/
venv

# https://github.com/johnthagen/python-blueprint
# This is what I used to stamp out the original project structure.
python-blueprint/
